body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    padding: 0 10%;
}

.emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
}

.emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
}

.emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}

.icon {
    font-size: 4rem;
}

/* start my coding here */


/* using grid to layout emoji cards */
.emojis {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

/* using flex to layout card components */
/* align the buttons */
.emoji {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* change the order */
.emoji .icon {
    order: -1;
    margin: 0 auto;
}

.emoji h2 {
    order: 0
}